/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpio0 23 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
		blink-period-ms = <1000>;
	};

	auxdisplay_0: auxdisplay {
	    compatible = "hit,hd44780";
		status = "okay";
		columns = <16>;
		rows = <2>;
		mode = <4>;
		register-select-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		data-bus-gpios = <0>, <0>, <0>, <0>,
			<&gpio0 6 GPIO_ACTIVE_HIGH>,
			<&gpio0 7 GPIO_ACTIVE_HIGH>,
			<&gpio0 25 GPIO_ACTIVE_HIGH>,
			<&gpio0 26 GPIO_ACTIVE_HIGH>;
	};
};

&gpio0 {
	status = "okay";
};
