/ {
	auxdisplay_0: auxdisplay {
	    compatible = "hit,hd44780";
		status = "okay";
		columns = <16>;
		rows = <2>;
		mode = <4>;
		register-select-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		data-bus-gpios = <0>, <0>, <0>, <0>,
			<&gpio0 6 GPIO_ACTIVE_HIGH>,
			<&gpio0 7 GPIO_ACTIVE_HIGH>,
			<&gpio0 25 GPIO_ACTIVE_HIGH>,
			<&gpio0 26 GPIO_ACTIVE_HIGH>;
	};
	knob_0: knob {
        compatible = "gpio-qdec";
        gpios = <&gpio0 23 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        steps-per-period = <4>;
        zephyr,axis = <INPUT_REL_WHEEL>;
        sample-time-us = <2000>;
        idle-timeout-ms = <200>;
    };
};

&gpio0 {
	status = "okay";
};
